openrouter ="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"
key = "jSQ2wzQ4SPvZwQn5"

HUGGINGFACE_HUB_TOKEN=your_huggingface_token_here
HF_TOKEN=your_huggingface_token_here